# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
node_modules
tmpnodejsnpm-cache
.bower-*/
bower_components
coverage
*.env
.env.development
.env.production

# General
# =======
*.log
dist
bundles

# Editors
# =======
.idea
.vscode
.vs

# Sonarqube
.scannerwork

# Ignore all .css and .css.map
# =======
*.css
*.css.map
